cplex~=22.1.0
cvxpy~=1.2.1
docplex~=2.23.222
gurobipy~=9.5.2
matplotlib~=3.5.3
numpy~=1.23.2
pandas~=1.4.3
scikit-learn~=1.1.2
seaborn~=0.11.2
sphinx~=5.1.1
sphinx-rtd-theme~=1.0.0
tensorflow~=2.9.1
torch~=1.12.1
twine~=4.0.1
wandb~=0.13.2